[Unit]
Description=Run gotouhou goal agent supervisor every 15 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true
Unit=gotouhou-goal-agent-manager.service

[Install]
WantedBy=timers.target
